$ACCENT: #1B3243;
$NUDE: #64B5F6;
$LIGHTBLUE: #7F96A3;
$BACKGROUND: #FCFCFC;
$BLACK: #3D4550;
$GREY: #96A2B5;
$ICONGRAY: #CAD1DA;
$WHITE: #FFFFFF;
$RED:#EB5757;
$GREEN:#27AE60;

$ACCENTBUTTON: #1A4862;
$ACCENTBUTTONHOVER: #146695;
$ACCENTBUTTONPRESSED: #0B3248;


$SECONDARYBUTTON: #C5A28E;
$SECONDARYBUTTONHOVER: #F89258;
$SECONDARYBUTTONPRESSED: #AC8975;
$SECONDARYBUTTONDISABLED: #FFFFFF;
$PRESSED:#AC8975;

$TYPOGRAPHYBLACK: #192A3E;
$TYPOGRAPHYGRAY: #90A0B7;

$ALTGREY: #BDBDBD;
$ALTACCENT: #3D647A;
