@mixin MONTSERRATBOLD {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.01em;
}

@mixin MONTSERRATBOLD24 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

@mixin MONTSERRATBOLD20 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

@mixin MONTSERRATBOLD16 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

@mixin ROBOTOBOLD24 {
    font-family: 'RobotoBold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

@mixin ROBOTOBOLD18 {
    font-family: 'RobotoBold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

@mixin ROBOTOBOLD16 {
    font-family: 'RobotoBold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

@mixin ROBOTOREGULAR {
    font-family: 'RobotoRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.01em;
}

@mixin ROBOTOREGULAR18 {
    font-family: 'RobotoRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

@mixin ROBOTOREGULAR16 {
    font-family: 'RobotoRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

@mixin ROBOTOREGULAR14 {
    font-family: 'RobotoRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@mixin ROBOTOMEDIUM {
    font-family: 'RobotoMedium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.01em;
}

@mixin ROBOTOMEDIUM16 {
    font-family: 'RobotoMedium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@mixin ROBOTOMEDIUM14 {
    font-family: 'RobotoRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

@mixin NunitoSans {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    display: flex;
    align-items: center;
}
