.containerEstate{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  margin-right: 30px ;
}

.img {
  width: 200px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  object-fit: contain;
  cursor: pointer;
  background-size: cover;
}

.infoCompany{
  margin: 20px 0;
}
.hover{
  :hover{
    box-shadow: 0  4px 8px 0 rgba(26, 72, 98, 0.2);
  }
}