@import '/src/components/containers/Record/all.scss';

.containerEstate{
  display: flex;

  @include for-size(KT1) {
    width: mobile-size(295px);
  }

  @include for-size(KT3) {
    justify-content: flex-start;
    width: desktop-size(295px);
    flex-direction: column;
  }

  @include for-size(KT6) {
    width: 295px;
  }
}

.img {
  width: 200px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: inline-block;
  object-fit: contain;
  cursor: pointer;
  background-size: cover;
  @include for-size(KT1) {
    width: mobile-size(65px);
    height: mobile-size(65px);
  }
  @include for-size(KT3) {
    width: desktop-size(200px);
    height: desktop-size(80px);
  }
  @include for-size(KT6) {
    width: 200px;
    height: 80px;
  }
}

.infoCompany{
  @include for-size(KT1) {
    margin: 0 0 0 mobile-size(10px);
  }
  @include for-size(KT3) {
    width: desktop-size(185px);
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    margin: desktop-size(18px) 0 0 0;
  }
  @include for-size(KT6) {
    width: 185px;
    margin: 18px 0 0 0;
  }
}
.marginT{
  margin-top: 5px;

  @include for-size(KT3) {
    margin: desktop-size(10px) 0;
    white-space:normal;
  }

  @include for-size(KT6) {
    margin: 10px 0;
  }
}

.hover{
  :hover{
    box-shadow: 0  4px 8px 0 rgba(26, 72, 98, 0.2);
  }
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 6px;
  box-sizing: border-box;
  width: fit-content;
}
