@import '../../../app/styles/typography.scss';
@import '../../../app/styles/colours.scss';
@import '../../../app/styles/scrollbars.scss';

.sliderContainer {
    max-width: 890px;
    width: 70%;
    @media screen and (max-width: 1300px){
        max-width: 750px;
        width: 70%;
    }
}

.container {
    margin: 40px 0 0 60px;
    display: flex;
    width: 90%;
    @media screen and (max-width: 1300px){
        margin: 20px 0 0 60px;
    }
}
.infoContainer {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 29%;
    @media screen and (max-width: 1300px){
        gap: 15px;
    }
}
.infoItem {
    display: flex;
}

.infoLabel {
    min-width: 150px;
    //width: 40%;
}

.infoTitle {
    min-width: 150px;
    margin: 10px 0 0 0;
}
 
.infoValue {
    margin-left: 40px;
    width: 60%;
}

