@import '../../../../app/styles/colours.scss';
@import '../../../../app/styles/resolutions.scss';
@import '../../../../app/styles/scrollbars.scss';

.wrapper {
    position: relative;
    width: 1320px; 
    height: 680px;
}
.infraMarker {
    transform: translate(-50%, -50%);
}
.estateMarker {
    transform: translate(-100%, -50%);
}
.button {
    padding: 0;
    border: 0;
    background-color: transparent;
}
.dynamicBar{
    display: flex;
}
.localbarActive {
    background-color: #ffffff;
    height: 245px;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: 1px;
    @include MapScrollbar;
    @include for-size(KT1) {
        width: 100%;
        top: 455px; 
    }
}
.card {
    width: 240px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    cursor: pointer;
    border: 1px solid #F2F2F2;
    border: 3px solid transparent;
}
.select {
    box-sizing: border-box;
    border: 3px solid $NUDE;
}
.img {
    width: 240px;
    height: 135px;
    border-radius: 10px 10px 0 0;
}
.description {
    padding: 9px 0 14px 16px;
}
.price {
    color: $NUDE;
}