@import '../../../../app/styles/colours.scss';
@import '../../../../app/styles/resolutions.scss';
@import '../../../../app/styles/scrollbars.scss';

.container {
    margin: 60px 0 0 60px;
}
.mapWrapper {
    margin: 20px 0 0 0;
    position: relative;
    width: 1320px; 
    height: 700px;
}
.infraMarker {
    transform: translate(-50%, -50%);
}
.estateMarker {
    transform: translate(-100%, -50%);
}
.button {
    padding: 0;
    border: 0;
    background-color: transparent;
}
.dynamicBar{
    display: flex;
}
.localbar {
    background-color: #ffffff;
    height: 0px;
    position: absolute;
    opacity: 0;
    top: 720px; 
    transition: all .5s;
    display: flex;
    border-radius: 10px;
    @include for-size(KT1) {
        width: 95%;
        flex-direction: column;
    }
    @include for-size(KT2) {
        flex-direction: row;
        top: 20px; 
        left: -500px;
        width: 323px;
        height: 660px;
    }
    @include for-size(KT5) {
        width: 343px;
    }
}
.localbarActive {
    background-color: #ffffff;
    height: 360px;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    display: flex;
    @include for-size(KT1) {
        border-radius: 10px;
        flex-direction: column;
        width: 95%;
        left: 10px;
        top: 320px; 
    }
    @include for-size(KT2) {
        border-radius: 10px 0 10px 10px;
        flex-direction: row;
        height: 660px;
        width: 323px;
        left: 20px;
        top: 20px; 
    }
    @include for-size(KT5) {
        width: 343px;
    }
}
.openButton {
    position: absolute;
    top: 20px; 
    width: 40px;
    height: 64px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 10px 10px 0px;
    transition: all .5s;
    @include for-size(KT2) {
        left: 344px;
        display: flex;
    }
    @include for-size(KT5) {
        left: 364px;
    }
}
.backButton {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 40px;
    height: 64px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 10px 10px 0px;
    transition: all .5s;
    @include for-size(KT2) {
        display: flex;
    }
}
.openArrow {
    transition: all .5s;
    transform: rotateZ(270deg);
}
.arrow {
    transition: all .5s;
    transform: rotateZ(90deg);
}