@import '../../../../app/styles/colours.scss';
@import '../../../../app/styles/resolutions.scss';
@import '../../../../app/styles/scrollbars.scss';
@import '/src/components/containers/Record/all.scss';
.mapWrapper {
    margin: 20px 60px 0 0;
    position: relative;
    height: 700px;
    @include for-size(KT1) {
        width: calc(100vw - 10px);
        height: 500px;
    }
    @include for-size(KT2) {
        width: 100%;
        height: 700px;
    }
}

.button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.container {
    @include for-size(KT1) {
        margin: 10px 10px 20px 10px;
        //border-bottom: 1px solid #F2F2F2;
        padding-bottom: 20px;
    }
    @include for-size(KT2) {
        margin: 60px 0 0 60px;
        padding-bottom: 0;
    }
    @include for-size(KT3) {
        margin: 60px 60px 0 60px;
        padding-bottom: 0;
    }
}

.border{
    border-radius: 6px;
}

.text {
    margin: 10px 0 30px 0;
}

.point {
    margin: 10px 0 0 0;
}

.value {
    font-weight: 300;
    margin: 4px 0 0 0;
}

.map {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.localbar {
    background-color: #ffffff;
    height: 0px;
    position: absolute;
    opacity: 0;
    top: 720px; 
    transition: all .5s;
    display: flex;
    border-radius: 10px;
    @include for-size(KT1) {
        width: 95%;
        flex-direction: column;
    }
    @include for-size(KT2) {
        flex-direction: row;
        top: 20px; 
        left: -500px;
        width: 323px;
        max-height: 660px;
    }
    @include for-size(KT5) {
        width: 343px;
    }
}

.localbarActive {
    background-color: #ffffff;
    padding: 23px 0 20px 20px;
    max-height: 360px;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    display: flex;
    @include for-size(KT1) {
        border-radius: 10px;
        flex-direction: column;
        width: 85%;
        left: 10px;
        top: 320px; 
    }
    @include for-size(KT2) {
        border-radius: 10px 0 10px 10px;
        flex-direction: row;
        max-height: 660px;
        width: 323px;
        left: 20px;
        top: 20px; 
    }
    @include for-size(KT3) {
        width: 323px;
    }
    //@include for-size(KT5) {
    //    width: 343px;
    //}
}

.dynamicBar{
    display: flex;
}
.openButton {
    position: absolute;
    top: 20px; 
    width: 39px;
    height: 64px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 10px 10px 0px;
    transition: all .5s;
    @include for-size(KT2) {
        left: 344px;
        display: flex;
    }
    @include for-size(KT5) {
        left: 364px;
    }
    //@include for-size(KT5) {
    //    left: 384px;
    //}
}
.backButton {
    position: absolute;
    top: 20px; 
    left: 20px;
    width: 40px;
    height: 64px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 0px 10px 10px 0px;
    transition: all .5s;
    @include for-size(KT2) {
        display: flex;
    }
}
.lowResButton {
    position: absolute;
    top: 10px; 
    left: 10px;
    width: 102px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    @include for-size(KT2) {
        display: none;
    }
}

.openArrow {
    transition: all .5s;
    transform: rotateZ(270deg);
}
.arrow {
    transition: all .5s;
    transform: rotateZ(90deg);
}

.controls {
    position: absolute;
    display: flex; 
    @include for-size(KT1) {
        transform: rotateZ(270deg);
        bottom: 60px; 
        right: -30px;
    }
    @include for-size(KT3) {
        transform: rotateZ(0deg);
        bottom: 20px; 
        right: 20px;
    }
}

.lowResCategory {
    color: #7F96A3
}

.headLine{
    margin: 30px 0 30px 0 !important;
}