.sizeSmall{
  font-size: 12px;
}
.df{
  display: flex;
  justify-content: space-between;
}
.margin_column{
  margin:0  0 0 20px;
}
.headerTypo{
  margin: 0 0 20px 0;
  height: 24px;
}
.colorBackGround{
  background: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 6px;
  padding-bottom: 18px;
}