.LineContainer {
  display: flex;
  margin: 0 60px;
}
.span {
  position: relative;
}
.LineContainer ::before {
  content: '';
  display: block;
  width: 0;
  height: 10px;
  background: orange;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition:all .5s;
}
.menu {
 margin-bottom: 10px;
}
.hr{
  position: relative;
  bottom:8px;
}
.margin{
  margin: 0 60px;
}
.label{
  color:#3D4550;
  font-size:10px;
}
