$ACCENT: #1A4862;
$NUDE: #C5A28E;
$LIGHTBLUE: #7F96A3;
$BACKGROUND: #FCFCFC;
$BLACK: #3D4550;
$GREY: #96A2B5;
$ICONGRAY: #CAD1DA;
$WHITE: #FFFFFF;

$ACCENTBUTTON: #1A4862;
$ACCENTBUTTONHOVER: #146695;
$ACCENTBUTTONPRESSED: #0B3248;
$ACCENTBUTTONDISABLED: #CAD1DA;

$SECONDARYBUTTON: #C5A28E;
$SECONDARYBUTTONHOVER: #F89258;
$SECONDARYBUTTONPRESSED: #AC8975;
$SECONDARYBUTTONDISABLED: #FFFFFF;

$TYPOGRAPHYBLACK: #192A3E;
$TYPOGRAPHYGRAY: #90A0B7;
