@import '/src/components/containers/Record/all.scss';

.blockAdvantage{
    display: flex;
    margin: 10px 0;

    @include for-size(KT1) {
        margin: 0;
    }

    @include for-size(KT3) {
        margin: desktop-size(10px) 0;
    }

    @include for-size(KT6) {
        margin: 10px 0 0 0;
    }
}
.blockAdvantageMain{
    display: flex;
    margin: 10px 0;
    @include for-size(KT1) {
        margin: 0;
    }
    @include for-size(KT3) {
        margin: desktop-size(10px) 0;
    }

    @include for-size(KT6) {
        margin: 10px 0;
    }
}
.img{
    display: inline-block;
    width: mobile-size(100px);
    height: mobile-size(100px);

    @include for-size(KT3) {
        width: desktop-size(100px);
        height: desktop-size(100px);
    }

    @include for-size(KT6) {
        width: 100px;
        height: 100px;
    }
}
.text{
    margin: 0 mobile-size(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

    @include for-size(KT3) {
        margin: 0 desktop-size(12px);
        margin-bottom: desktop-size(5px);
    }

    @include for-size(KT6) {
        margin: 0 12px;
        margin-bottom: 5px;
    }
}
.textMain{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //min-width: 430px;
    max-width: 500px;
    @include for-size(KT3) {
        margin: 0 desktop-size(20px);
        margin-bottom: desktop-size(3px);
    }

    @include for-size(KT6) {
        margin: 0 20px;
        margin-bottom: 3px;
    }
}

.autoWidth {
    min-width: auto;
    margin: 0 mobile-size(10px);

    @include for-size(KT3) {
        margin: 0 desktop-size(10px);
    }

    @include for-size(KT6) {
        margin: 0 0 2px 10px;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: mobile-size(65px);

    @include for-size(KT3) {
        min-width: desktop-size(50px);
    }

    @include for-size(KT6) {
        min-width: 50px;
    }
}

.blockAdvantageMobile{
    display: flex;
    margin: mobile-size(10px) 0;

    @include for-size(KT1) {
        flex-direction: column;
    }
    @include for-size(KT3) {
        margin: desktop-size(10px) 0;
    }

    @include for-size(KT6) {
        margin: 10px 0;
    }
}
.imgMobile{
    display: inline-block;
    width: mobile-size(100px);
    height: mobile-size(100px);
}

.textMobile{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;

    @include for-size(KT1) {
        margin: mobile-size(10px) 0 0 0;
        text-align: center;
    }
    @include for-size(KT3) {
        margin: 0 desktop-size(20px);
        text-align: start;
    }

    @include for-size(KT6) {
        margin: 0 20px;
    }
}
.autoWidthMobile {
    min-width: auto;
    margin: 0 mobile-size(10px);

    @include for-size(KT3) {
        margin: 0 desktop-size(10px);
    }

    @include for-size(KT6) {
        margin: 0 10px;
    }
}
.iconMobile {
    display: flex;
    align-items: center;
    @include for-size(KT1) {
        justify-content: center;
    }
    @include for-size(KT3) {
        justify-content: normal;
    }
}
