@import '/src/components/containers/Record/all.scss';

.blockAdvantage{
    display: flex;
    margin: 10px 0;
    @include for-size(KT1) {
        margin: 0;
    }
    @include for-size(KT3) {
        margin: 10px 0;
    }
    @include for-size(KT4) {
        margin: 0;
    }
}
.blockAdvantageMain{
    display: flex;
    margin: 10px 0;
    @include for-size(KT1) {
        margin: 0;
    }
    @include for-size(KT3) {
        margin: 10px 0;
    }
}
.img{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.text{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //min-width: 430px;
    max-width: 500px;
    @include for-size(KT4) {
        margin: 0 12px;
        margin-bottom: 5px;
    }
}
.textMain{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //min-width: 430px;
    max-width: 500px;
    @include for-size(KT4) {
        margin: 0 20px;
        margin-bottom: 3px;
    }
}
.autoWidth {
    min-width: auto;
    margin: 0 10px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 65px;
    @include for-size(KT1) {
        min-width: 65px;
    }
    @include for-size(KT3) {
        min-width: 50px;
    }
}

.blockAdvantageMobile{
    display: flex;
    margin: 10px 0;
    @include for-size(KT1) {
        display:flex;
        flex-direction: column;
    }
    @include for-size(KT2) {

    }
}
.imgMobile{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.textMobile{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //min-width: 430px;
    max-width: 500px;
    @include for-size(KT1) {
        margin: 10px 0 0 0 ;
        text-align: center;
    }
    @include for-size(KT2) {
        margin: 0 20px;
        text-align: start ;
    }
}
.autoWidthMobile {
    min-width: auto;
    margin: 0 10px;
}
.iconMobile {
    display: flex;
    align-items: center;
    @include for-size(KT1) {
        justify-content: center;
    }
    @include for-size(KT2) {
        justify-content: normal;
    }
}
