.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  @media  (max-width: 930px) {
    flex-wrap: wrap;
  }
}
.headerLogo{
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  @media  (max-width: 930px) {
    margin-top: 10px;
  }
  @media  (max-width: 750px) {
    flex-wrap: wrap;
    min-width: 466px;
  }
}

.menuName {
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-content: center;
}

.menuCity {
  width: 200px;
  margin: 0 15px;
  cursor: pointer;
  display: flex;
  align-content: center;
}
.textTypography{
  color:#C5A28E;
  font-family: Roboto;
}
