.iconWidth{
    margin:4px 8px 0 0;
}
.telegram{
    position: relative;
    right: 17px;
    bottom: 7px;
}
.watsApp{
    position: relative;
    right: 18px;
    bottom: 6px;
}
.iconPadding{
    height: 24px;
    margin: 0 4px;
}