@import "src/app/styles/colours";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.image {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid $ICONGRAY;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;

  img {
    height: auto !important;
    min-height: 0 !important;
  }
}

.button {
  pointer-events: none;
  width: 100%;
}

.label {
  cursor: pointer;
}
