@import "src/app/styles/colours";
@import "src/app/styles/typography";

.tabsWrapper {
  margin: 0 10px 30px 10px;
}

.stat {
  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &Item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    overflow-x: auto;
    padding-top: 4px;
    padding-bottom: 4px;

    .title {
      @include ROBOTOBOLD16;

      color: $BLACK;
      line-height: 12px;
    }
  }

  &Header {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .mainSelect, .secSelect {
      display: flex;
      align-items: center;

      .text {
        padding-bottom: 6px;
        color: $BLACK;
      }

      .select {
        border: none;
        color: $NUDE;
      }
    }

    .mainSelect .text {
      @include ROBOTOMEDIUM16;
    }

    .secSelect .text {
      @include ROBOTOREGULAR16;
    }
  }

  &ObjectCard {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .criteria {
      &:not(:first-of-type) {
        margin-top: 26px;
      }

      .subTitle {
        color: $BLACK;

        @include ROBOTOREGULAR16;
      }

      .title {
        @include ROBOTOMEDIUM16;

        color: $BLACK;
      }
    }

    .elem {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &List {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      .name {
        color: $BLACK;

        @include ROBOTOREGULAR16;
      }

      .value {
        @include ROBOTOBOLD24;
      }

      &:nth-of-type(1) .value {
        color: $ACCENTBUTTON;
      }

      &:nth-of-type(2) .value {
        color: #9495A7;
      }

      &:nth-of-type(3) .value {
        color: $NUDE;
      }
    }
  }
}