@import '../../../../../sass/colours.scss';

@import '../../../../../sass/scrollbars.scss';

.list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    z-index: 1;
    width: 99%;
    @include MapScrollbar;
}

.elem {
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 20px 0 0 20px;
    background-color: transparent;
}

.buttonContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonTitle {
    margin: 0px 0px 0px 17px;
    color: $BLACK;

}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 20px 0 7px 20px;
}