.marginColumn{
  margin-right: 20px;
  margin-top: 10px
}

.marginButton{
  margin-right: 20px;
  margin-top: 37px;
  min-width: 208px;
  height: 42px;
}
.marginInput{
  margin-right: 20px;
  margin-top: 10px;
  min-width: 208px;
}

.marginSubTitle{
  margin: 20px 0;
}
.marginTypo{
  margin: 0 0 10px 0;
}
.redact{
  padding:10px 20px;
  font-size: 14px;
  background:#1A4862 ;
  color:#FFFFFF;
}
.redact_border{
  padding:10px 20px;
  font-size: 14px;
  border: 1px solid #F2F2F2;
}
.df_jc_ai{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.styleButton{
  height: 40px;
}