.bidContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 315px;
}
.width{
  width: 380px;
}
.margin{
  margin:20px 0 0 0;
}
.textFooter{
  text-align: center;
}