@use "sass:math";

$KT1: 320px;
$KT2: 576px;
$KT3: 768px;
$KT4: 992px;
$KT5: 1200px;
$KT6: 1440px;
@mixin for-size($range) {
  @if $range == KT1 {
    @media (min-width: $KT1) {
      @content;
    }
  } @else if $range == KT2 {
    @media (min-width: $KT2) {
      @content;
    }
  } @else if $range == KT3 {
    @media (min-width: $KT3) {
      @content;
    }
  } @else if $range == KT4 {
    @media (min-width: $KT4) {
      @content;
    }
  } @else if $range == KT5 {
    @media (min-width: $KT5) {
      @content;
    }
  } @else if $range == KT6 {
    @media (min-width: $KT6) {
      @content;
    }
  }
}

@function mobile-size($size) {
  $vw-context-mobile: 320 * 0.01 * 1px;
  @return math.div($size, $vw-context-mobile) * 1vw;
}

@function desktop-size($size) {
  $vw-context-desktop: 1440 * 0.01 * 1px;
  @return math.div($size, $vw-context-desktop) * 1vw;
}

@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: #FFF;
  width: auto;
  height: 40px;
  border-radius: 10px;
  transition: all .5s;
  padding: 10px;
}

@mixin base-container {
  max-width: $KT6;
  margin: 0 auto;
}
