.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.groupContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    display: flex;
    align-items: center;
    gap: 5px;
}