@import '/src/components/containers/Record/all.scss';

.descriptionItem {
    margin-bottom: 15px;
    width: 80%;
    line-height:1.8;
}

.container {
    margin: 60px 0 0 60px;

    @include for-size(KT1) {
        margin: 10px 0 0 10px;
    }
    @include for-size(KT2) {
        margin: 20px 0 0 20px;
    }
    @include for-size(KT3) {
        margin: 35px 0 0 10px;
    }
}
