@import '../../../app/styles/resolutions.scss';

.contactOfficeBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-size(KT2) {
    height: 380px;
  }
}
.position{
  display: flex;
  margin: 10px 0;
}
.margin{
  margin:0 8px;
  font-family: RobotoRegular;
  color: #3D4550;
}
.link {
  display: none;
  @include for-size(KT2) {
      display: block;
  }
}
.mobileLink{
  margin: 0 0 0 28px;
  text-decoration: none;
  @include for-size(KT2) {
    display: none;
  }
}