.marginContainer{
  margin: 60px 60px 100px 60px;
}
.position{
  display: flex;

  @media  (max-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
  }
  @media  (max-width: 1020px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.marginContract{
  margin: 0 20px 0 40px;
}