@import '../../../app/styles/resolutions.scss';

.marginContainer{
  margin: 60px 60px 100px 60px;
  display: none;
  @include for-size(KT2) {
    display: block;
  }
}

.minResContainer {
  margin: 30px 10px 30px 10px;
  display: block;
  @include for-size(KT2) {
    display: none;
  }
}

.position{
  display: flex;
  @media  (max-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
  }
  @media  (max-width: 1020px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.marginContract{
  margin: 0 20px 0 40px;
}