@import '../../../../app/styles/colours.scss';
@import '../../../../app/styles/resolutions.scss';
@import '../../../../app/styles/scrollbars.scss';

.openMapWrapper {
    position: relative;
    width: 100%; 
    height: 655px;
    transition: all .5s;
}
.closeMapWrapper {
    position: relative;
    width: 0%; 
    height: 655px;
    transition: all .5s;
}
.marker {
    transform: translate(-50%, -50%);
}
.button {
    padding: 0;
    border: 0;
    background-color: transparent;
}
.dynamicBar{
    display: flex;
}
.localbar {
    background-color: #ffffff;
    height: 0px;
    position: absolute;
    opacity: 0;
    top: 720px; 
    transition: all .5s;
    display: flex;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: 1px;
    @include MapScrollbar;
    @include for-size(KT1) {
        width: 95%;
        flex-direction: column;
    }
    @include for-size(KT2) {
        top: 20px; 
        left: -500px;
        width: 323px;
        height: 605px;
    }
    @include for-size(KT5) {
        width: 343px;
    }
}
.localbarActive {
    background-color: #ffffff;
    height: 360px;
    position: absolute;
    z-index: 10;
    transition: all .5s;
    display: flex;
    padding: 5px;
    @include for-size(KT1) {
        border-radius: 10px;
        flex-direction: column;
        width: 95%;
        left: 10px;
        top: 320px; 
    }
    @include for-size(KT2) {
        border-radius: 10px 0 10px 10px;
        height: 605px;
        width: 323px;
        left: 20px;
        top: 20px; 
    }
    @include for-size(KT5) {
        width: 343px;
    }
}
.checkboxTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
}
.list {
    overflow-y: scroll;
    scrollbar-width: 1px;
    @include MapScrollbar;
}