.textarea {
    height: 140px !important;
    resize: none;
}

.photosWrapper {
    padding: 20px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.newItem {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 6px;
    border: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newItemLabel {
    padding: 15px 10px 10px 10px;
    text-align: center;
}

.imgContainer {
    border-radius: 6px;
    position: relative;
    width: 200px;
    height: 200px;
}

.img {
    border-radius: 6px;
    object-fit: cover;
}

.subTitle {
    color: #CAD1DA;
    margin-bottom: 10px;
}