@import '/src/components/containers/Record/all.scss';
.logoMain{
    height: 12px;
    width: 97px;
  @include for-size(KT3) {
    height: 19px;
    width: 151px;
  }
}
.margin {
  margin-left: 10px;
}
.burger{
  //padding: ;
  display: block;
  cursor: pointer;
  @include for-size(KT3) {
    display: none;
  } 
}
.style{
  display: flex;
  align-items: center;
}
.iconLocation{
  margin-right: 5px;
  @include for-size(KT1) {
    display: none;
  }
  @include for-size(KT2) {
    display: inline;
  }
}
