@import '../../../app/styles/colours.scss';
@import '../../../app/styles/typography.scss';
@import '../../../app/styles/resolutions.scss';


.wrapper {
    background-color: #fff;
    max-width: fit-content;
    @include for-size(KT1) {
        border: 1px solid $ACCENTBUTTONDISABLED;
        display: flex;
        flex-wrap: wrap;
        border-radius: 8px;
        justify-content: center;
        gap: 5px;
        padding: 5px;
    }
   @include for-size(KT3) {
       flex-wrap: nowrap;
       justify-content: flex-start;
       gap: 0px;
       padding: 0px;
   }
}

.elemWrap {
    display: flex;
    height: 40px;
}

.divider {
    @include for-size(KT1) {
        width: 0px;
        background-color: #BDBDBD;
        margin: 12px 0;
    }
    @include for-size(KT3) {
        width: 1px;
        height: 20px;
    }

}

.button {
    max-width: 205px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px;
    background-color: transparent;
    border: 0;
    @include ROBOTOREGULAR16;
    cursor: pointer;
    &:hover{
        color:$NUDE;
    }
}

.firstButton {
    border-radius: 8px 0px 0px 8px;
    //padding: 7px 4px;
}

.lastButton {
    border-radius: 0px 8px 8px 0px;
    //padding: 7px 4px;
}
.roundedButton {
    border-radius: 8px;
    //padding: 7px 4px;
}

.activeButton {
    border-radius:4px;
}
.color{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 4px;
    background-color: #F2F2F2;
    text-align: center;
    padding: 0 8px 2px 8px;
    height: 100%;
}
.colorPlus{
    display: flex;
    //align-items: center;
    position: relative;
    border-radius: 4px;
    text-align: center;
    padding: 2px 8px 2px 8px;
}
