@import '../../../app/styles/colours.scss';
@import '/src/components/containers/Record/all.scss';
.general {
    margin: 0;
    display: flex;
    align-items: center;
}

.color_default {
    color: $BLACK;
}

.color_nude {
    color: $NUDE;
}

.color_accent {
    color: $ACCENT
}

.color_secondary {
    color: $WHITE
}

.color_tertiary {
    color: $GREY
}

.color_red{
    color: $RED
}
.color_green{
    color: $GREEN
}
.disabled{
    color: $ACCENTBUTTONDISABLED
}

// sizes ---------------

.size_default {
    font-size: 16px;
}

.size_subheader {
    font-family: "MontserratBold" !important;

    @include for-size(KT1) {
        font-size: 24px;
    }
    @include for-size(KT2) {
        font-size: 20px;
    }
}
.size_subheaderBig {
    font-family: "MontserratBold" !important;
    font-size: 24px;
}

.size_small {
    font-size: 14px;
}

.size_header {
    font-family: "MontserratBold" !important;
    font-size: 48px;
}

.size_headerLow {
    font-family: "MontserratBold" !important;
    font-size: 40px;
}

.size_medium {
    font-size: 18px;
}

.size_big {
    font-family: "MontserratBold" !important;
    font-size: 30px;
}

// weight -----

.weight_regular {
    font-family: "RobotoRegular";
}

.weight_light {
    font-family: "RobotoLight";
}

.weight_medium {
    font-family: "RobotoMedium";
}

.weight_bold {
    font-family: "RobotoBold";
}

// ----

.icon {
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
}