@import '../../../app/styles/colours.scss';
@import '/src/components/containers/Record/all.scss';
.general {
    margin: 0;
    display: flex;
    align-items: center;
}

.color_default {
    color: $BLACK;
}

.color_nude {
    color: $NUDE;
}

.color_accent {
    color: $ACCENT;
}

.color_secondary {
    color: $WHITE;
}
.color_altWhite {
    color: $BACKGROUND;
}

.color_tertiary {
    color: $GREY;
}

.color_red{
    color: $RED;
}
.color_green{
    color: $GREEN;
}
.color_altAccent{
    color: $ALTACCENT;
}
.color_disabled{
    color: $ICONGRAY;
}
.color_altGray{
    color: $ALTGREY;
}
.color_lightBlue{
    color: $LIGHTBLUE;
}

// sizes ---------------

.size_subheader {
    font-family: "MontserratBold" !important;

    @include for-size(KT1) {
        font-size: mobile-size(24px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(20px);
        letter-spacing: 0.6px;
    }
    @include for-size(KT6) {
        font-size: 20px;
    }
}
.size_subheaderBig {
    font-family: "MontserratBold" !important;
    font-size: 24px;
    @include for-size(KT1) {
        font-size: mobile-size(24px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(24px);
    }
    @include for-size(KT6) {
        font-size: 24px;
    }
}

.size_small {
    font-size: 14px;
    @include for-size(KT1) {
        font-size: mobile-size(14px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(14px);
    }
    @include for-size(KT6) {
        font-size: 14px;
    }
}

.size_default {
    font-size: 16px;
    @include for-size(KT1) {
        font-size: mobile-size(16px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(16px);
    }
    @include for-size(KT6) {
        font-size: 16px;
    }
}

.size_medium {
    font-size: 18px;
    @include for-size(KT1) {
        font-size: mobile-size(18px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(18px);
    }
    @include for-size(KT6) {
        font-size: 18px;
    }
}

.size_header {
    font-family: "MontserratBold" !important;
    font-size: 48px;
    @include for-size(KT1) {
        font-size: mobile-size(48px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(48px);
    }
    @include for-size(KT6) {
        font-size: 48px;
    }
}

.size_headerLow {
    font-family: "MontserratBold" !important;
    font-size: 40px;
    @include for-size(KT1) {
        font-size: mobile-size(40px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(40px);
    }
    @include for-size(KT6) {
        font-size: 40px;
    }
}

.size_big {
    font-family: "MontserratBold" !important;
    font-size: 30px;
    @include for-size(KT1) {
        font-size: mobile-size(30px);
    }
    @include for-size(KT3) {
        font-size: desktop-size(30px);
    }
    @include for-size(KT6) {
        font-size: 30px;
    }
}

// weight -----

.weight_regular {
    font-family: "RobotoRegular";
}

.weight_light {
    font-family: "RobotoLight";
}

.weight_medium {
    font-family: "RobotoMedium";
}

.weight_bold {
    font-family: "RobotoBold";
}

// ----

.icon {
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;

    @include for-size(KT1) {
        padding-left: mobile-size(5px);
        padding-right: mobile-size(5px);
    }
    @include for-size(KT3) {
        padding-left: desktop-size(5px);
        padding-right: desktop-size(5px);
    }
    @include for-size(KT6) {
        padding-left: 5px;
        padding-right: 5px;
    }
}
