@import '/src/components/containers/Record/all.scss';

.blockAdvantage{
    display: flex;
    @include for-size(KT1) {
        margin: 10px 10px 0 10px;
    }
    @include for-size(KT2) {
        margin: 20px 20px 0 20px;
    }
    @include for-size(KT3) {
        margin: 20px 0 0 60px;
    }
}
.item{
    color: #9495A7;
    margin: 0 5px 0 0;
}
