@import '/src/components/containers/Record/all.scss';
.containerAgentsBlock {
    @include for-size(KT1) {
        margin: 0 30px 0 10px;
    }@include for-size(KT2) {
        margin: 40px 60px 0 60px;
    }
}
.block{
    display: flex;
    justify-content: space-between;
    @media  (max-width: 1300px) {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }
    @media  (max-width: 1020px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }@media  (max-width: 650px) {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
    }
    @include for-size(KT1) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        width: calc( 100vw - 20px );
        height:216px;
        //overflow: hidden;
        overflow-x: scroll;
        white-space:nowrap;
        gap: 0;
        scrollbar-arrow-color: #FFFFFF;
        margin-bottom: -20px;
        padding-bottom: -20px;
    }
    @include for-size(KT2) {
        height:266px;
    }@media  (min-width: 950px) {
        height:316px;
    }
    @media  (min-width: 1320px) {
        height:210px;
    }
}
.margin{
    margin:30px 0;
}
