@import '/src/components/containers/Record/all.scss';

.padding {
  
}
.headLine{
  margin: 30px 0 30px 0 !important;
}
.container {
  margin: 60px 60px 0 60px;

  @include for-size(KT1) {
    margin: 10px 10px 0 10px;
  }
  @include for-size(KT2) {
    margin: 20px 20px 0 20px;
  }
  @include for-size(KT3) {
    margin: 60px 60px 0 60px;
  }
}
.body {
  grid-template-columns: 201px 1fr !important;
}
.menu {
  padding: 16px 0 0 0;
  border: 1px solid #F2F2F2 !important;
}
.info {
  width: 1097px !important;
  margin: 0 0 0 21px !important;
  padding: 0;
  height: 650px;
}
