@import '/src/components/containers/Record/all.scss';
.container {
    @include for-size(KT1) {
        display: none;
    }@include for-size(KT2) {
         display: block;
         margin: 60px 60px 0 60px;
     }
    margin: 60px 60px 0 60px;
}

.infoBlock {
    display: flex;
    margin-bottom: 30px;
    @include for-size(KT4) {
       padding-top: 1px;
    }
}

.iconItem {
    max-width: 200px;
    margin-right: 125px;
}
.iconItem_name {
    width: 202px;
    margin-right: 115px;
}
.iconItemMr_0 {
    min-width: auto;
    margin-right: 0;
}

.imgContainer {
    position: relative;
    width: 100px;
    height: 100px;
}

.img {
    object-fit: contain;

}