@import '../../../app/styles/colours.scss';

.general {
    margin: 0;
}

.color_default {
    color: $BLACK
}

.color_nude {
    color: $NUDE
}

.color_accent {
    color: $ACCENT
}

.color_secondary {
    color: $WHITE
}

.color_tertiary {
    color: $GREY
}

.color_red{
    color:$RED
}

// sizes ---------------

.size_default {
    font-size: 16px;
}

.size_subheader {
    font-family: "MontserratBold" !important;
    font-size: 20px;
}

.size_small {
    font-size: 14px;
}

.size_header {
    font-family: "MontserratBold" !important;
    font-size: 48px;
}

.size_medium {
    font-size: 18px;
}

.size_big {
    font-family: "MontserratBold" !important;
    font-size: 30px;
}

// weight -----

.weight_regular {
    font-family: "RobotoRegular";
}

.weight_light {
    font-family: "RobotoLight";
}

.weight_medium {
    font-family: "RobotoMedium";
}

.weight_bold {
    font-family: "RobotoBold";
}

// ----

.icon {
    vertical-align: middle;
    padding-left: 5px;
}