@import "src/app/styles/typography";
@import "src/app/styles/colours";

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 15px;
    color: #3D4550;

    .title {
      @include ROBOTOMEDIUM16;
    }

    .list {
      display: flex;
      gap: 74px;
    }

    .elem {
      display: flex;
      flex-direction: column;
      gap: 10px;
      min-width: 180px;

      @include ROBOTOREGULAR16;

      .name {
        color: #CAD1DA;
      }

      .value {
        color: #3D4550;
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .button {
    padding: 12px 16px;
    cursor: pointer;
    color: #3D4550;
    border: 1px solid #CAD1DA;
    box-sizing: border-box;
    border-radius: 6px;
    transition: border-color .3s ease-out;
    text-decoration: none;

    @include ROBOTOREGULAR14;

    &:hover {
      border-color: #3D4550;
    }
  }
}
