@import '../../../../app/styles/colours.scss';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 328px;
}
.text{
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  color: $BLACK;
  font-family: "RobotoRegular";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nude{
  color: $NUDE;
}
.width{
  width:100%;
}