@import '/src/components/containers/Record/all.scss';

.containerDevelopersBlock {
  @include for-size(KT1) {
    margin: mobile-size(40px) mobile-size(10px) 0 mobile-size(10px);
  }
  @include for-size(KT2) {
    margin: mobile-size(40px) auto 0 auto;
  }

  @include for-size(KT3) {
    padding: 0 desktop-size(60px);
    margin: desktop-size(40px) auto 0 auto;
  }

  @include for-size(KT6) {
    padding: 0 60px;
    margin: 40px auto 0 auto;
  }

  max-width: $KT6;
  box-sizing: border-box;
}

.containerDevelopers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;

  @include for-size(KT1) {
    grid-template-columns: 1fr;
    gap: mobile-size(20px);
  }

  @include for-size(KT3) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: desktop-size(25px);
  }

  @include for-size(KT6) {
    gap: 25px;
  }
}

.margin{
  margin: 30px 0;
}
