.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 440px;
}
.recovery{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.width{
  width: 380px;
}
.margin{
  margin:20px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cursor{
  position:relative;
  width: 112px;
}
.cursor:hover{
  cursor: pointer;
}
.color{
  color:#3D4550;
}
.registration{
  color:#C5A28E;
  display: flex;
  justify-content: center;
}
.registration:hover{
  cursor: pointer;
}
.text{
  margin-bottom: 15px;
}
.enter{
  margin: 5px 0 0 0;
}