@import '../../../app/styles/colours.scss';
@import '/src/components/containers/Record/all.scss';
.content {
    @include for-size(KT1) {
        position: relative;
    }
    @include for-size(KT2) {
        position: absolute;
        top: 50%;
        left: 50%;
    }

}