@import '/src/components/containers/Record/all.scss';
@import '../../../../app/styles/scrollbars.scss';

.wrapper {
    width: 315px;
    border: 1px #F2F2F2 solid;
    border-radius: 6px;
}

.imgContainer {
    height: 290px;
    position: relative;
    margin: 8px;
    max-width: 299px;
    max-height: 272px;
}

.img {
    object-fit: contain;
    //max-width: 100%;
    max-width: 299px;
    //max-height: 100%;
    max-height: 272px;
}

.content {
    margin-right: 2px;
    overflow: auto;
    height: 96px;
    padding: 9px 15px 0 15px;
    box-sizing: border-box;
    @include MapScrollbar;
    color: black;

    @include for-size(KT1) {
        height: 120px;
    }
    @include for-size(KT2) {
        height: 120px;
    }
    @include for-size(KT3) {
        height: 96px;
    }
}


.contentRow {
    display: flex;
    margin-bottom: 11px;
    gap: 17px;

}
.nameWidth{
    display: block;
    width: 155px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
}
.price {
    margin-left: auto;
    white-space: nowrap;
}
.mT_3{
    margin-top: 3px;
}
