.recovery{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  width: 380px;
}
.margin{
  margin:20px 0 15px 0 ;
  width: 100%;
}
.widthButton{
  width: 100%;
  margin: 4px 0;
}
.widthInput{
  width: 340px;
  left:0;
}