@import '../../../app/styles/typography.scss';
@import '../../../app/styles/colours.scss';
@import '../../../app/styles/scrollbars.scss';
@import '/src/components/containers/Record/all.scss';
$contentHeight: 115px;
$borderRadius: 6px;

.wrapper {
    border: 1px #F2F2F2 solid;
    width: 315px;
    background-color: #fff;
    border-radius: $borderRadius;
    transition: .3s all ease;
    &:hover {
        box-shadow: 15px 15px 40px -40px black;
    }
    @include for-size(KT1) {
        width: 300px;
    }@include for-size(KT2) {
        width: 315px;
     }
}

.link {
    color: black;
    &:visited{
       color: black
    }
    &:focus {
        color: black
    }
    &:link {
        text-decoration: none
    }
}

.content {
    display: block;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    @include MapScrollbar;
}

.price {
    @include ROBOTOBOLD16;
    color: $BLACK;
    margin: 5px 0 0 0 ;
}
.cursorName{
    margin: 5px 0 0 0 ;
    display: block;
    width: 170px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    //padding-right:0px; /* Поля */
    text-overflow: ellipsis;
}

.subtitle {
    @include ROBOTOREGULAR16;
    margin: 0 0 4px 0;
    display: flex;
}
.subtitleFloor_Type {
    display: flex;
    margin: 0 0 4px 0;
}
.typeLabel {
    color: $GREY;
    @include ROBOTOREGULAR16;
    font-weight: 300;
}

.ellipsisTextBold {
    font-family: "RobotoBold";
    color: $ACCENT;
    margin: -4px 0 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ellipsisText {
    font-family: "RobotoRegular";
    color: $BLACK;
    margin: 0 0 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dataAgent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}
.photoAgent{
    border-radius: 8px 8px 0 0;
}
.link {
    color: black;
    &:visited{
        color: black
    }
    &:focus {
        color: black
    }
    &:link {
        text-decoration: none
    }
}
.agentBlock{
    display: flex;
    min-width: 400px;
    @media  (max-width: 1320px) {
        min-width: 100px;
        min-height: 100px;
    }
    @include for-size(KT1) {
        box-sizing: border-box;
        margin-left: 10px;
        width: 196px !important;
        height: 220px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #F2F2F2;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(26, 72, 98, 0.15);
    }
    @media  (min-width: 1320px) {
        display: flex;
        min-width: 400px;
    }
}

.margin {
    margin: 0 0 0 4px;
}
