@import '../../../app/styles/typography.scss';
@import '../../../app/styles/colours.scss';
@import '../../../app/styles/scrollbars.scss';

$contentHeight: 115px;
$borderRadius: 6px;

.wrapper {
    border: 1px #F2F2F2 solid;
    width: 315px;
    background-color: #fff;
    border-radius: $borderRadius;
    transition: .3s all ease;
    &:hover {
        box-shadow: 15px 15px 40px -40px black;
    }
}

.link {
    color: black;
    &:visited{
       color: black 
    }
    &:focus {
        color: black
    }
    &:link {
        text-decoration: none
    }
}

.content {
    display: block;
    cursor: pointer;
    margin-right: 2px;
    height: 100%;
    padding: 10px 15px 0px 15px;
    box-sizing: border-box;
    @include MapScrollbar;
}

.price {
    @include ROBOTOBOLD16;
    margin: 0px 0px 4px 0px;
    color: $BLACK;
}

.subtitle {
    @include ROBOTOREGULAR16;
    margin: 0px 0px 4px 0px;
    display: flex;
}
.typeLabel {
    color: $GREY;
    @include ROBOTOREGULAR16;
    font-weight: 300;
}

.ellipsisTextBold {
    font-family: "RobotoBold";
    color: $ACCENT;
    margin: -4px 0 4px 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.ellipsisText {
    font-family: "RobotoRegular";
    color: $BLACK;
    margin: 0 0 0 4px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.margin {
    margin: 0 0 0 4px;
}