@import '../../../app/styles/colours.scss';
@import '../../../app/styles/resolutions.scss';
@import "src/app/styles/scrollbars";
.dropdown {
  width: 100%;
  @include for-size(KT2) {
    width: 200px;
  }
  user-select: none;
  position: relative;
  height: 40px;
  cursor: pointer;
}
.dropdown .dropdown_btn {
  padding: 10px 16px 10px 10px;
  background: #FFFFFF;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 8px;
}
.border {
  border: 1px double #C5A28E;
}

.dropdown .dropdown_btn:active {

}
.dropdown .dropdown_content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 6px;
  background: #FFFFFF;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #333;
  width: 94%;
  border-radius: 8px;
  z-index: 11;
 // for scroll Base DropDown ( on active )
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: auto;
  overflow-x: hidden;
  max-height: 500px;
  scrollbar-width: 1px;
  @include MapScrollbar;
  padding-right: 10px;
  margin-right: -10px;
}
.dropdown .dropdown_content .dropdown_item {
  display: flex;
  padding: 4px;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 97%;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
.dropdown .dropdown_content .dropdown_item:hover {
  background: #F2F2F2;;
  border-radius: 4px;
}

.title {
  max-width: 190px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkIcon {
  width: 26px;
  position: relative;
  top: 2px;
}

.icon {
  position: absolute;
  top: 31% !important;
  right: 10px !important;
  width: 12px;
}

.ellipsisText {
  font-family: "RobotoRegular";
  color: $BLACK;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchInput {
  font-family: "RobotoRegular";
  border: none;
  color: $BLACK;
  outline: none;
  width: 100%;
  height: 100%;
  padding-right: 10px;
}

.green {
  color: #219653 !important;
}

.wrapWidth {
  width: 100% !important;
}
.label {
  color: #CAD1DA;
  margin-bottom: 5px;

  &.textArea {
      align-items: unset !important;
      padding-top: 10px;
  }
}

.wrap {
  //display: "flex";
  //flex-direction: "column";
  //position: "relative";
  //width: 100%;
  @include for-size(KT1) {
    min-width: calc( 40px + 6.8*10vw );
  }
  @include for-size(KT2) {
    min-width: 180px;
  }
}

.wrapUnion {
  //display: "flex";
  //flex-direction: "column";
  //position: "relative";
  width: 50%;
}