@import '../../../../app/styles/resolutions.scss';

.footer {
    background: #1A4862;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px;
    align-items: flex-start;
    @include for-size(KT3) {
        flex-direction: row;
        height: 100px;
        padding: 40px 60px 24px 60px;
    }
}

.margin {
    height: 16px;
}

.underline {
    width: fit-content;
    border-bottom: .5px solid #C5A28E;
    cursor: pointer;
}
