@import '../../../../app/styles/resolutions.scss';

.footer {
    background: #1A4862;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px ;
    align-items: center;
}

.elements {
    display: none;
    @include for-size(KT2) {
        display: block;
    }
}