@import '../../../../app/styles/resolutions.scss';
@import '/src/components/containers/Record/all.scss';

.footer {
    background: #1A4862;
    box-sizing: border-box;

    .container {
        @include base-container;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 10px 0 10px;

        @include for-size(KT3) {
            flex-direction: row;
            padding: 40px 60px 65px 60px;
            box-sizing: border-box;
            height: auto;
        }

        & + div {
            box-sizing: unset;
        }
    }
}

.margin {
    height: 16px;
}

.underline {
    width: fit-content;
    border-bottom: .5px solid RGBA(100, 181, 246, .5);
    cursor: pointer;
}

.icons {
    display: flex;
}
