.marginOptionContainer{
  margin: 17px 30px;
  display: flex;
  justify-content: space-between;
}
.df_mT_20{
  display: flex;
  margin-top: 20px;
}
.mL_10{
  margin-left: 10px;
}
.baseInput{
  width: 200px;
  border: 0 solid black;
  background: #FFFFFF;
  margin-left: -14px;
  margin-top: 3px;
}
.mT_12{
  margin-top: 12px;
}
.baseButton{
  padding: 11px 16px;
  border: 1px solid rgba(202, 209, 218, 1) ;
}



.containerOption{
  margin: 12px 26px;
}
.mL_4{
  margin-left: 4px;
}
.df_mT{
  display: flex;
  margin-top: 23px;
}
.mT_4{
  margin-top: 4px;
  width: 200px;
}
.mT_mL4{
  width: 262px;
  margin-top: 4px;
}
.styleInput3{
  width: 290px;
  margin-top: 4px;
}
.mL_10{
  //margin-left: 10px;
}
.baseButton2{
  height: 40px;
  margin-left: 10px;
  margin-top: 28px;
  padding: 11px 15px;
  border: 1px solid #CAD1DA;
}
.paddingButton{
  padding: 11px 16px;
}