.marginOptionContainer{
  margin: 17px 30px;
  display: flex;
  justify-content: space-between;
}
.df_mT_20{
  display: flex;
  margin-top: 20px;
}
.mL_10{
  margin-left: 10px;
}
.baseInput{
  width: 200px;
  border: 0 solid black;
  background: #FFFFFF;
  margin-left: -14px;
  margin-top: 3px;
}
.mT_12{
  margin-top: 12px;
}
.baseButton{
  padding: 11px 16px;
  border: 1px solid rgba(202, 209, 218, 1) ;
}