.input {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    text-indent: 16px;
    border: 1px #CAD1DA solid;
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
    &:focus{
        outline: none;
    }

    &.textArea {
        width: 100%;
        padding-top: 12px;
        box-sizing: border-box;
        height: 200px;
    }
}

.textAreaWrapper {
    width: 100% !important;
}

.icon {
    color: #000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    position: relative;
    width: 100%;

    &.altIcon {
        .icon {
            right: unset;
            left: 12px;
        }

        .input {
            padding-left: 30px;
        }
        .altInput {
            padding-left: 20px;
        }

        .iconPadding {
            padding-right: 0;
        }
    }
}

.label {
    color: #CAD1DA;
    margin-bottom: 5px;

    &.textArea {
        align-items: unset !important;
        padding-top: 10px;
    }
}

.iconPadding {
    padding-right: 30px;
}

.error {
    margin-top: 4px;
    font-size: 14px;
    position: absolute;
}
