.input {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
    min-height: 40px;
    border-radius: 8px;
    text-indent: 16px;
    border: 1px #CAD1DA solid;
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
    &:focus{
        outline: none;
    }
}

.wrapper {
    position: relative
}

.icon {
    color: #000;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.label {
    color: #CAD1DA;
    margin-bottom: 5px;
}

.iconPadding {
    padding-right: 30px;
}