.agentBlock{
    display: flex;
    min-width: 400px;
}
.photoAgent{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.dataAgent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}
.agentPadding{
    display: flex;
    margin: 4px 0 0;
}
.cursor{
    cursor: pointer;
    &:hover{
        color:#146695;
    }
}
