@import '../../../app/styles/scrollbars.scss';
@import '/src/components/containers/Record/all.scss';
.openContainer {
    position: relative;
    z-index: 1;
    background-color: #FCFCFC;
    padding: 0 0 0 0;
    transition: all .2s;
}
.closeContainer {
    position: relative;
    z-index: 1;
    background-color: #FCFCFC;
    padding: 0 0 0 40px;
    transition: all .2s;
    @include for-size(KT1) {
        padding: 0 ;
    }@include for-size(KT2) {
        padding: 0 0 0 40px;
     }
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @include MapScrollbar;
    @include for-size(KT1) {
        margin: 10px 15px 0 15px;
    }@include for-size(KT2) {
        margin: 0 15px 0 15px;
        height: 575px;
        overflow-y: scroll;
        scrollbar-width: 1px;
     }
}
.contentText {
    display: flex;
    justify-content: center;
    height: 575px;
}
.filterWrapper {
    margin-bottom: 20px;
}
.finderControls {
    display: flex;
    justify-content: space-between;
    @include for-size(KT1) {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        margin: 0;
    }@include for-size(KT2) {
        flex-direction: row;
        margin: 20px;
     }
}

.finderButtons{
    display: flex;
    @include for-size(KT1) {
        flex-direction: row-reverse;
        gap: 10px;
        justify-content: flex-end;
    }@include for-size(KT2) {
             flex-direction: row;
     }
}
.finderDropdown{
    @include for-size(KT1) {
        margin-top: 10px;
        margin-left: 10px;
    }@include for-size(KT2) {
        margin-top: 0;
        margin-left: 0;
    }
}

.paddingButton{
    padding: 0 10px 0 0;
}
.toggleButtonsWrap {
    margin: 0 0 0 8px;
}