@import '/src/components/containers/Record/all.scss';

.blockAdvantage{
    display: flex;
    margin: 40px 0 0 60px;
    @media screen and (max-width: 1400px){
        margin: 20px 0 0 60px;
    }
    @media (max-width: 786px) {
        margin: 20px 0;
    }
    @include for-size(KT1) {
        margin: 35px 0 0 10px;
    }
    @include for-size(KT2) {
        margin: 20px 0 0 10px;
    }
}
.img{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.text{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 430px;
}
.autoWidth {
    min-width: auto;
    margin: 0 10px;
}
.icon {
    display: flex;
    align-items: center;
}
.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 4px 0 0;
}
.primaryItem{
    color: #3D4550;
    margin: 0 5px 0 0;
}
.secondaryItem{
    color: #BDBDBD;
    margin: 0 5px 0 0;
}
