@import '../../../app/styles/colours.scss';
@import '../../../app/styles/buttons.scss';
@import '../../../app/styles/typography.scss';
@import '../../../app/styles/resolutions.scss';


.wrapper {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    @include for-size(KT2) {
        padding: 0 60px;
    }
}

.input {
    width: 73px;
}

.submit {
    @include button;
    @include ROBOTOREGULAR16;
    width: 100%;
    background-color: $NUDE;
    border-radius: 6px;
    @include for-size(KT3) {
        width: auto;
    }
}

.actionDropdownUnion {
    max-width: fit-content;
}

.toggleButton {
    height: 40px;
    padding: 12px;
    width: auto;
}

.inputsUnion {
    max-width: 478px;
    height: 38px;
}

.searchInput {
    width: 400px;
}

.dropdownFloor {
    width: 360px !important
}

.link {
    background-color: $NUDE;
    height: 40px;
    border-radius: 6px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.linkTitle{
    margin: 10px;
}