@import '../../../app/styles/colours.scss';
@import '../../../app/styles/buttons.scss';
@import '../../../app/styles/typography.scss';
@import '../../../app/styles/resolutions.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    @include for-size(KT3) {
        padding-left: 60px;
        padding-right: 60px;
        flex-direction: row;
    }
}

.floorInputFrom {
    width: 78px;
}
.floorInputTo {
    width: 60px;
}
.priceInputFrom {
    width: 73px;
}
.priceInputTo {
    width: 50px;
}
.squareInputFrom {
    width: 91px;
}
.squareInputTo {
    width: 83px;
}

.dropdownAction {

    @include for-size(KT3) {
        width: 200px;
    }
}
.dropdownHouseType {

    @include for-size(KT3) {
        width: 200px;
    }
}
.dropdownPrivateType {
    @include for-size(KT3) {
        width: 218px !important;
    }
}
.dropdownBuildingType { 
    @include for-size(KT3) {
        width: 237px;
    }
}
.dropdownFloor {
    @include for-size(KT3) {
        width: 372px !important;
    }
}
.dropdownIRB {
    @include for-size(KT3) {
        width: 237px;
    }
}
.dropdownImprovement {
    @include for-size(KT3) {
        width: 372px;
    }
}

.submit {
    @include button;
    @include ROBOTOREGULAR16;
    width: 207px !important;
    background-color: $NUDE;
    border-radius: 6px;
    @include for-size(KT3) {
        width: auto;
    }
    &:hover{
        background-color: $SECONDARYBUTTONHOVER
    }
    &:active{
        background-color: $PRESSED
    }
}

.actionDropdownUnion {
    width: 398px;
    height: 40px;
    @include for-size(KT3) {
        max-width: fit-content;
    }
}

.toggleButton {
    height: 40px;
    padding: 0;
    width: auto;
    @include for-size(KT3) {
        padding-top: 7px;
        padding-right: 4px;
        padding-bottom: 7px;
        padding-left: 4px;
    }
}
.mainToggleButtonWrap {
    display: none;
    @include for-size(KT3) {
        display: block;
    }
}
.lowResToggleButtonWrap {
    @include for-size(KT3) {
        display: none;
    }
}

.inputsUnion {
    display: none;
    @include for-size(KT3) {
        display: flex;
        width: 478px;
        height: 40px;
    }
}

.searchInput {
    width: 478px;
}
.searchInputLand {
    width: 912px;
}

.link {
    background-color: $NUDE;
    height: 40px;
    border-radius: 6px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.linkTitle{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.lowResContainer{
    display: flex;
    flex-direction: column;
    @include for-size(KT3) {
        display: none;
    }
}