@import '../../../app/styles/colours.scss';
@import '../../../app/styles/buttons.scss';
@import '../../../app/styles/typography.scss';
@import '../../../app/styles/resolutions.scss';


.wrapper {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    @include for-size(KT2) {
        padding: 0 60px;
    }
}

.floorInputFrom {
    width: 78px;
}
.floorInputTo {
    width: 50px;
}
.priceInputFrom {
    width: 73px;
}
.priceInputTo {
    width: 50px;
}
.squareInputFrom {
    width: 91px;
}
.squareInputTo {
    width: 83px;
}

.dropdownAction {
    width: 200px;
}
.dropdownHouseType {
    width: 200px;
}
.dropdownPrivateType {
    width: 200px;
}
.dropdownBuildingType {
    width: 200px;
}
.dropdownFloor {
    width: 360px !important
}
.dropdownIRB {
    width: 200px;
}
.dropdownImprovement {
    width: 200px;
}

.submit {
    @include button;
    @include ROBOTOREGULAR16;
    width: 100%;
    background-color: $NUDE;
    border-radius: 6px;
    @include for-size(KT3) {
        width: auto;
    }
    &:hover{
        background-color: $SECONDARYBUTTONHOVER
    }
    &:active{
        background-color: $PRESSED
    }
}

.actionDropdownUnion {
    max-width: fit-content;
    height: 40px;
}

.toggleButton {
    height: 40px;
    padding: 7px 4px ;
    width: auto;
}

.inputsUnion {
    max-width: 478px;
    height: 40px;
}

.searchInput {
    width: 400px;
}

.link {
    background-color: $NUDE;
    height: 40px;
    border-radius: 6px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.linkTitle{
    margin: 10px;
}