@import '../../../app/styles/colours.scss';
@import '../../../app/styles/typography.scss';
@import '../../../app/styles/buttons.scss';
@import '../../../app/styles/resolutions.scss';
@import '/src/components/containers/Record/all.scss';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    color: #FFF;

    @include for-size(KT1) {
        //min-height: 503px;
        background-position-x: 90%;
        background-position-y: 43%;
        margin-top: 30px;
    }
    @include for-size(KT2) {
        margin-top: 0;
        min-height: 305px;
        background-position-x: 0%;
        background-image:url("./../../../Pics/mainPhoto.jpg");
    }
    @include for-size(KT3) {
        display: inherit;
        padding-top: 30px;
        min-height: 410px;
        background-size: 100% 500px;
        background-position-x: 90%;
        background-position-y: 63%;
    }
    @include for-size(KT4) {
        min-height: 300px;
        background-position-x: 70%;
        background-position-y: 63%;
    }
    @include for-size(KT5) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        color: #FFF;
    }
    @include for-size(KT6) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover;
        color: #FFF;
    }
    @media screen and( min-width: 992px) {
        min-height: 350px;
        background-position-x: 70%;
        background-position-y: 63%;
    }
}

.button {
    @include button;
    background-color: $SECONDARYBUTTON;
}

.buttonHovered {
    @include button;
    background-color: $SECONDARYBUTTONHOVER;
}

.buttonClicked {
    @include button;
    background-color: $SECONDARYBUTTONPRESSED;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.containerTitle {
    display: none;
    @include for-size(KT2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: none;
        margin: 0 0 0 60px;
    }
}

.containerTitleMobile{
    margin: 0 10px 0 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(90deg, #1488CC 0%, #1A4862 100%);
    box-shadow: 0px 4px 8px rgba(26, 72, 98, 0.15);
    border-radius: 6px;
    @include for-size(KT2) {
        display: none;
    }
}

.titleText {
    @include MONTSERRATBOLD;
    @include for-size(KT1) {
        font-size: 26px;
        line-height: 32px;
        padding: 0 0 0 10px;
    }
    @include for-size(KT2) {
        padding: 0 0 0 20px;
    }
    @include for-size(KT3) {
        font-size: 42px;
        line-height: 51px;
        padding: 0 0 0 20px;
    }
    @include for-size(KT4) {
        padding: 0 0 0 40px;
    }
    @include for-size(KT5) {
        font-size: 58px;
        line-height: 71px;
        padding: 0 0 0 30px;
    }
    @include for-size(KT6) {
        padding: 0 0 0 100px;
    }
}

.subTitle{
    margin: 12px 0 0 0;
    font-size: 16px;
    @include for-size(KT2) {
        font-size: 24px;
    }
}

.subtitleText {
    @include ROBOTOREGULAR16;
    font-weight: bold;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 40px 40px 0;
}

.containerIcon {
    @include for-size(KT1) {
        display: none;
    }
    @include for-size(KT6) {
        display: none;
        grid-gap: 18px;
    }
}

.buttonTitle {
    @include ROBOTOBOLD16;
}

.filterWrapper {
    padding: 20px 10px 20px 10px;
    @include for-size(KT2) {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        padding: 0;
    }
}

.contentContainer {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    max-width: $KT6;
}
