.wrapper {
  display: flex;
  flex-direction: column;
  //gap: 20px;
  padding: 0 30px;
}
.wrapperAgency{
  display: flex;
  flex-direction: column;
  //gap: 8px;
  padding: 0 30px;
}
.horizontalTabs {
  //margin: 0 0 10px 0;
  margin: 0;
  padding: 0 10px;
}
