.item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 90px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 30px;
}

.groupContent {
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
}

.groupTitle {
    display: flex;
    align-items: center;
  }
