.df{
  display: flex;
  padding-bottom: 10px;
}
.df_jc{
  display: flex;
  justify-content: space-between;
}
.paddingRight_10{
  padding-right: 10px;
}
.paddingRight_5{
  padding-right: 10px;
}
.cursor{
  cursor:pointer;
}
.svg{
  cursor:pointer;
  margin: 0 3px
}