
@font-face {
    font-family: "MontserratRegular";
    font-weight: 400;
    font-style: normal;
    src: url("../src/app/fonts/Montserrat/Montserrat-Regular.ttf")
  }


  @font-face {
    font-family: "MontserratBold";
    font-weight: 700;
    font-style: normal;
    src: url("../src/app/fonts/Montserrat/Montserrat-Bold.ttf")
  }

  @font-face {
    font-family: "MontserratLight";
    font-weight: 300;
    font-style: normal;
    src: url("../src/app/fonts/Montserrat/Montserrat-Light.ttf")
  }

  @font-face {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-style: normal;
    src: url("../src/app/fonts/Roboto/Roboto-Regular.ttf")
  }

  @font-face {
    font-family: "RobotoBold";
    font-weight: 700;
    font-style: normal;
    src: url("../src/app/fonts/Roboto/Roboto-Bold.ttf")
  }

  @font-face {
    font-family: "RobotoMedium";
    font-weight: 500;
    font-style: normal;
    src: url("../src/app/fonts/Roboto/Roboto-Medium.ttf")
  }

  @font-face {
    font-family: "RobotoLight";
    font-weight: 300;
    font-style: normal;
    src: url("../src/app/fonts/Roboto/Roboto-Light.ttf")
  }
.recharts-cartesian-axis-line{
  display: none;
}
.recharts-cartesian-axis-tick-line{
  display: none;
}
body{
  margin: 0;
  background-color: rgba(252, 252, 252, 1);
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*.slick-initialized { overflow: hidden; }*/
/*.slick-next {arrows: false}*/
/*table-agent - material UI*/
.css-1howxi1-MuiTableCell-root{
  padding: 6px 0 !important;
}
.css-dsuxgy-MuiTableCell-root{
  padding: 6px 0 !important;
}