// calendar
.baseInputStyle {
  border: 0 solid #CAD1DA;
  height: 24px;
  font-family: "RobotoRegular";
  //&::-webkit-datetime-edit-fields-wrapper {
  //  margin-left: -20px;
  //}
  &::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(calendar.svg) no-repeat center;
    background-size: contain;
  }
}
