@import '../../../app/styles/resolutions.scss';

.offerNews{
    margin: 30px 10px 20px 10px;
    @include for-size(KT2) {
        margin: 50px 60px 0 60px;
    }
}
.container{
    display: none;
    @include for-size(KT2) {
      display: block;
    }
}
.minResContainer {
    display: block;
    @include for-size(KT2) {
        display: none;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:15px 0;
    grid-column-gap: 16px;
    @media  (max-width: 1080px) {
        grid-template-columns: 1fr 1fr ;
        gap : 4px;
    }
    @media  (max-width: 590px) {
        grid-template-columns: 1fr ;
        gap : 4px;
    }
}
.margin{
    margin: 30px 0;
}
.marginButton{
    margin: 0 16px;
}
.textMessage{
    margin-top: 30px;
}
.modalIndex{
    z-index: 10 !important;
}